@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
body {
    background: radial-gradient(#ff2d7a15, rgba(255, 255, 255, 0.253));
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
// Navigation Styles

.fav{
    color: #001D6E;
}
header{
    background: #fff;
    width: 98%;
    height: 3.5em;
    padding: 1em 0;
    border-radius: .5em;
    box-shadow: 0 .5px 3px 0 rgba(187, 187, 187, 0.87);
    position: fixed;
    opacity: 93%;
    top: 1em;
    right: .9em;
    display: flex;

    .container{
        width: 1250px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2em;

        a.logo{
            text-decoration: none;
            font-family: 'Quando', serif;
            font-size: 1.5em;
            font-weight: 600;
            color: linear-gradient(89.73deg, #001D6E 4.13%, #5481FF 41.35%, rgba(0, 29, 110, 0.99) 96.29%);
            
            &:focus{
                outline: none;
                color: #001D6E;
            }
        }

        .menu{
            display: none;
        }

        nav{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            .menu-exit{
                display: none;
            }
           
            ul{
                li{
                    display: inline;
                    gap: 1em;
                    padding: 0 .8em;

                    a{
                        font-size: 1em;
                        font-weight: 300;
                        color: #000;
                        text-decoration: none;

                        &:hover{
                            color: #001D6E;
                            font-weight: 500;
                        }
                    }
                }
            }

            a.cta{
                margin-left: 1.5em;
                font-size: .9em;
                padding: .7em 1em;
                background: #001D6E;
                color: #fff;
                text-decoration: none;
                border-radius: .5em;
                transition: all 0.45s;

                &:hover{
                    filter: brightness(150%);
                    background: #011a5f;
                }
            }
        }
    }
}


.cta-p{
    font-size: 1em;
    padding: .7em 3em;
    background: #001D6E;
    color: #fff;
    text-decoration: none;
    border-radius: .5em;
    transition: all 0.4s;

    &:hover{
        filter: brightness(150%);
        background: #011a5f;
    }
    
}

.cta-sec{
    margin-left: 1.5em;
    font-size: 1em;
    padding: .7em 1em;
    background: #D7E8FF;
    color: #001D6E;
    text-decoration: none;
    font-weight: 600;
    border: solid 1px #001D6E;
    border-radius: .5em;
}
.arrow{
    margin-left: 1em;
}

@media only screen and (max-width:575.98px){
    header{
        width: 96%;
        right: .5em;
        .container{
            width: 94%;
            padding-top: 5px;
            .menu{
                padding: .5em;
                border-radius: .3em;
                border: solid .1em black;
                display: block;
                cursor: pointer;
            }
            nav{
                border-radius: 1em;
                flex-direction: column;
                justify-content: normal;
                height: 60%;
                width: 92vw;
                position: fixed;
                top: 8em;
                right: -2000px;
                z-index: 2;
                background: #7FB5FF;
                opacity: none;
                
                text-align: center;
                .menu-exit{
                    display: block;
                    cursor: pointer;
                    background-color: #7FB5FF;
                    border: solid .1em #fff;
                    border-radius: .4em;
                    margin-top: 1em;
                    padding: .4em;
                }
                ul{
                    padding-top: 1.5em;
                    li{
                        padding: 1em 0;
                        display: block;
                    }
                }

                a.cta{
                    margin-left: 0;
                }
            }
        }
    }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    header{
        width: 96%;

        .container{

            nav{

                ul{
                    padding-left: initial;
                    li{
                        gap: .5em;
                        padding: 1em .3em;
                    }
                }
            }
        }
        
    }
    
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    header{
        width: 96%;
    }
    
}

.hero{
    // background: radial-gradient( 0.1turn,#ff2d7a13, rgba(255, 255, 255, 0.315));
    
    padding: 7em 0 2em;
    .container{
        width: 1080px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        .left-col{
            // padding: 4em;
            h3{
                color: #ff2d7a;
                translate: rotate(200deg) ;
            }
            
            h1{
                font-size: 3.4em;
                line-height: .9em;
                letter-spacing: -2px;
            }
            p{
                padding-bottom: .9em;
                line-height: 1.4em;
            }
            .icons{
                margin-top: 2em;
                display: flex;
                align-self: center;
                column-gap: 1em;

                a{
                    padding: 1em;
                    border-radius: 4em;
                    background-color: #fff;
                    &:hover{
                        background-color: rgba(187, 187, 187, 0.514);
                    }
                    
                    i{
                        font-size: 1.5em;
                        color: #000;
                    }
                }
            }

        }
        .right-col{
            padding: 3em 0;
            img{
                height: 350px;
                width: 300px;
                padding-left: 5em;
                // position: relative;
                // left: 5em;
                // top: 1.5em;
                // z-index: -2;
            }

        }
    }
}

@media only screen and (max-width:575.98px){
    .hero{
        .container{
            width: 94%;
            display: flex;
            flex-direction: column;

            .left-col{
                text-align: center;

                h1{
                    font-size: 2em;
                }

                .icons{
                    justify-content: center;
                }
            }

        }
    }
}

@media only screen and (max-width: 767.98px){
    .hero{
        .container{
            width: 94%;
            display: flex;
            flex-direction: column;
            text-align: center;

            .left-col{
                .icons{
                    justify-content: center;
                }
            }

            .right-col{
                img{
                    padding-left: 0;
                }
            }

        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .hero{
        .container{
            width: 94%;
        }
    }
}
// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .hero{
        .container{
            width: 94%;
        }
    }
}

.services{
    padding: 5em 0 3em;
    
    // background: linear-gradient( 0.1turn,#ff2d7a18, rgba(255, 255, 255, 0.315));

    .container{
        max-width: 1080px;
        margin: 0 auto;
        text-align: center;

        h1{
            font-size: 3em;
        }
        .card-list{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
            gap: 1.5em;

            .card{
                border-radius: 1em;
                background: linear-gradient(0.2turn,#7fb4ff,#001d6ebe);
                padding: 4em ;

                i{
                    font-size: 3em;
                }
            }
        }
    }
}

@media only screen and (max-width:575.98px){
    .services{
        .container{
            width: 94%;
        }
    }
}

@media only screen and (max-width: 767.98px){
    .services{
        .container{
            width: 94%;
        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .services{
        .container{
            width: 94%;
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .services{
        .container{
            width: 94%;
        }
    }
}
.works{
    padding: 5em 0 3em;
    // background: linear-gradient( 0.1turn,#ff2d7a18, rgba(255, 255, 255, 0.315));
    .container{
        max-width: 1080px;
        margin: 0 auto;

        h1{
            text-align: center;
            font-size: 3em;
        }

        .card-list{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(19em, 1fr));
            gap: 2em;
            // text-align: center;

            .card{
                background: white;
                padding: 1.2em;
                border-radius: 1em;
                text-align: center;
                box-shadow: 0 1px 2px 0 rgba(187, 187, 187, 0.678);
                img{
                    height: 120px;
                    width: 220px;
                }

                h2{
                    text-align: left;
                }
                p{
                    color: rgb(160, 157, 157);
                    text-align: left;
                }

                .anchor{
                    text-align: left;
                    display: flex;
                    gap: 2em;
                    a{
                        color: rgb(160, 157, 157);
                        text-decoration: none;
                        
                        // margin-left: 1em;
    
                        &:hover{
                            color: #001D6E;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:575.98px){
    .works{
        .container{
            width: 94%;
        }
    }
}

@media only screen and (max-width: 767.98px){
    .works{
        .container{
            width: 94%;
        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .works{
        .container{
            width: 94%;
        }
    }
}
// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .works{
        .container{
            width: 94%;
        }
    }
}

footer{
    padding: 4em 0;
    // background: linear-gradient( 1.1turn,#ff2d7a18, rgba(255, 255, 255, 0.315));
    
    .container{
        max-width: 1080px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;

        .footer-head{
            padding: .5em;

            h1{
                font-size: 1.5em;
            }
        }

        .foot-links{
            margin: .6em 0 ;
            a{
                margin: .6em;
                text-decoration: none;
                color: rgb(138, 133, 133);

                &:hover{
                    color: #001D6E;
                    text-decoration: underline;
                }
            }
        }

        .foot-icon{
            display: flex;
            align-self: center;
            column-gap: 1em;
            a{
                margin: 2em 0;
                padding: 1em;
                background: rgb(255, 255, 255);
                border-radius: 2.5em;
                text-decoration: none;
                &:hover {
                    background: rgba(187, 187, 187, 0.514);
                }

                i{
                    color: black;
                    font-size: 1.5em;
                }
            }
        }
    }
}
@media only screen and (max-width:575.98px){
    footer{
        .container{
            width: 94%;
        }
    }
}
@media only screen and (max-width: 767.98px){
    footer{
        .container{
            width: 94%;
        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    footer{
        .container{
            width: 94%;
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    footer{
        .container{
            width: 94%;
        }
    }
}

.hire{
    padding: 8em 0 0;
    .container{
        width: 1080px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-self: center;
        text-align: center;
        .top{
            small{
                font-size: .8em ;
                color: rgba(0, 0, 0, 0.74);
                font-weight: 600;
                font-display: capitalize;
                margin: 0;
                padding: 0;
            }
            h1{
                font-size: 2.6em;
                color: #5481FF;
                font-weight: 500;
            }
            p{
                color: rgb(160, 160, 160);
                margin-top: -1em;
            }
            .form-group{
                margin-top: 2em;
                text-align: left;

                .form{
                    display: flex;
                    
                    gap: 2em;
                    padding-bottom: 2em;
                    .user-name{
                        
                        label{
                            margin-left: .5em;
                            color: rgb(160, 160, 160);
                        }
                        input[type=text]{
                            margin-top: .5em;
                            width: 12em;
                            height: 3em;
                            outline: none;
                            font-size: 1em;
                            border: none;
                            padding-left: .5em;
                            background: none;
                            border-bottom: solid 1px #D7E8FF;
                        }
                    }
                    .user-email{
                        label{
                            margin-left: .5em;
                            color: rgb(160, 160, 160);
                        }
                        input[type=email]{
                            margin-top: .5em;
                            width: 15em;
                            height: 3em;
                            
                            font-size: 1em;
                            border: none;
                            padding-left: .5em;
                            background: none;
                            border-bottom: solid 1px #D7E8FF;
                            outline: none;
                            &:focus{
                                border: none ;
                            }
                        }
                    }
                }

                .message{
                    padding-bottom: 2em;
                    label{
                        margin-left: .5em;
                        color: rgb(160, 160, 160);
                    }
                    textarea{
                        margin-top: .5em;
                        width: 32em;
                        height: 2.5em;
                        font-size: 1em;
                        font-family: 'Raleway', serif;
                        border: none;
                        padding-left: .5em;
                        background: none;
                        border-bottom: solid 1px #D7E8FF;
                        outline: none;
                        resize: none;
                    }
                }
            }
            button{
                padding: 1em 8em;
                background: #001D6E;
                border: solid 1px #001D6E;
                color: #D7E8FF;
                transition: all 0.3s;
                cursor: pointer;
                letter-spacing: .2em;

                &:hover{
                    background: #D7E8FF;
                    color: #001D6E;
                }
            }
            .message-delivery{
                h3{
                    font-size: 1em;
                    font-weight: 100;
                }
            }
        }
    }
}

@media only screen and (max-width:575.98px){
    .hire{
        padding: 8em 1em 0;
        .container{
            display: flex;
            width: 94%;

            .top{
                .form-group{
                    text-align: center;
                    .form{
                        flex-direction: column;
                        
                    }

                    .message{
                        textarea{
                            width: 60vh;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767.98px){
    .hire{
        
        .container{
            width: 94%;
        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .hire{
        
        .container{
            width: 94%;
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .hire{
        .container{
            width: 94%;
        }
    }
}